.vscode/
.idea/

# Generic Android ignores #
###########################
bin/
target
gen/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases #
######################
log/
*.log
*.sql
*.sqlite
